# Configuration générée par Ansible
# Date de déploiement : {{ ansible_date_time.iso8601_basic_short }}

[application]
version = {{ app_version }} # La variable sera remplacée par "2.4.1-stable"
server_port = 8080
log_level = info