# version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_contact
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: contactsdb
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  web:
    build: ./web
    container_name: flask_contact
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: contactsdb
      DB_USER: user
      DB_PASSWORD: password
    ports:
      - "5000:5000"

volumes:
  db_data:
